extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/error.css')

block content
  .container.mt-5
    #error-container.bg-white.rounded.shadow.p-4.mx-auto(style="max-width: 600px;")
      h1#error-title.text-danger.mb-3 Ocorreu um erro!
      h2#error-code.text-secondary.mb-4 Código do erro: #{error.status || 500}
      p#error-message.text-muted.mb-3 Desculpe, algo inesperado aconteceu. Nossa equipe já foi notificada.
      if message
        h3#error-extra-message.text-dark.mb-3= message
      if error && error.stack
        details#error-details.mt-4
          summary#error-details-summary.text-primary.fw-bold(style="cursor:pointer;") Ver detalhes técnicos (log)
          pre#error-stack.bg-light.text-danger.p-3.rounded.mt-2= error.stack
